/* qoutation background*/
.background{
    background-image: url(images/baloons.svg);
    background-repeat: no-repeat;
    background-size:200px;
    background-position:right;
    background-position-y: 30px;
}
.comma-image{
    width: 40px;
    height: 40px;
}
/* countdown digits */
h2{
    color:#e42183 ;
}
/* digit-border */
.hr-border{
    border-top:1px solid #e42183;
    border-bottom:1px solid #e42183;  
}
/* day-border */
.day-border::after {
    content: "";
    position: absolute;
    background: #e42183;
    top:0;
    left: 0;
    height: 1px;
    width: 15px;
  }
  .day-border::before {
    content: "";
    position: absolute;
    background: #e42183;
    top:0;
    left: 0;
    height: 15px;
    width: 1px;
  }
  /* second border  */
  .sec-border::after {
    content: "";
    position: absolute;
    background: #e42183;
    bottom:0;
    right: 0;
    height: 1px;
    width: 15px;
  }
  .sec-border::before {
    content: "";
    position: absolute;
    background: #e42183;
    bottom:0;
    right: 0;
    height: 15px;
    width: 1px;
  }
  .qoute-border::after {
    content: "";
    position: absolute;
    background: #e42183;
    top:0;
    left: 0;
    height: 1px;
    width: 15px;
  }
  .qoute-border::before {
    content: "";
    position: absolute;
    background: #e42183;
    top:0;
    left: 0;
    height: 15px;
    width: 1px;
  }

  /* second border  */
  .side-border::after {
    content: "";
    position: absolute;
    background: #e42183;
    bottom:0;
    right: 0;
    height: 1px;
    width: 15px;;
  }
  .side-border::before {
    content: "";
    position: absolute;
    background: #e42183;
    bottom:0;
    right: 0;
    height: 15px;
    width: 1px;
  }
/* fontawesome */
.fontawesome{
  color: #e42183;
}


/* digit-background */
.common-bg{
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x:center;
}
.day-bg{
    background-image: url(images/S.svg);
}
.hr-bg{
    background-image: url(images/A.svg);
}
.min-bg{
    background-image: url(images/N.svg);
}
.sec-bg{
    background-image: url(images/A.svg);
}


